.login__container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  max-height: 100vh;
  max-width: 100vw;
  text-align: center;
  width: 100vw;
}

.login__form {
  box-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  display: flex;
  flex-direction: column;
  padding: 10%;
}

.login__form__img__container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 65%;
}

.login__form__img {
  max-height: 50%;
  max-width: 50%;
}

.login__form__img__caption {
  align-self: center;
  font-size: 2em;
  margin: 2.5rem;
  max-height: 30%;
  max-width: 30%;
}

.login__form__img__caption__text {
  color: grey;
}

.login__fields {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.login__fields__input {
  border: 1px solid #cecece;
  margin: 5px;
  padding: 0.5em;
  text-align: center;
}

.login__fields__button {
  background: #124559;
  border: 1px solid white;
  color: white;
  margin: 5px;
  padding: 0.5em;
  width: 49%;
}
