.login__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  width: 100vw;
  max-width: 100vw;
  max-height: 100vh;
}

.login__form {
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 10%;
}

.login__form__img__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 65%;
}

.login__form__img {
  max-width: 50%;
  max-height: 50%;
}

.login__form__img__caption {
  font-size: 2em;
  max-width: 30%;
  max-height: 30%;
  align-self: center;
  margin: 2.5rem;
}

.login__fields {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login__fields__input {
  border: 1px solid #cecece;
  margin: 5px;
  padding: 0.5em;
  text-align: center;
}

.login__fields__button {
  margin: 5px;
  width: 56.5%;
  border: 1px solid white;
  padding: 0.5em;
  background: #3fa34d;
  color: white;
}