.table__container {
  background-color: #598392;
  color: white;
  max-width: 100vw;
  padding: 20px;
  text-align: center;
  width: 100%;
}

.edit-btn {
  background-color: #023e8a;
  border-radius: 25px;
  color: white;
  font-weight: 700;
  margin: 5px;
}

.delete-btn {
  background-color: red;
  border-radius: 25px;
  color: white;
  font-weight: 700;
}
